*,
*::after,
*::before {
    box-sizing: border-box;
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    position: relative;
    min-width: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    display: grid;
    place-content: center;
    -webkit-font-smoothing: antialiased;
    background: lightgrey;
}

body,
input,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

ol,
ul {
    list-style: none;
    padding: 1rem;
}

blockquote,
q {
    quotes: none;
}

button {
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.preguntas {
    width: 400px;
    height: 400px;
    display: none;
    padding: 2rem;
    background: lightpink;
    border: 0.6px solid darkslateblue;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 4px 18px rgba(0, 0, 0, 0.1);
}

input {
    margin: 0.8rem;
}

.btn-continuar {
    text-align: right;
}

.cuenta-atras {
    font-size: 4rem;
}