*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    position: relative;
    min-width: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    -webkit-font-smoothing: antialiased;
    background: yellowgreen;
}

body,
input,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

button {
    cursor: pointer;
}

div {
    padding: 0.6rem;
    font-size: 2rem;
    color: rebeccapurple;
}

.raining-cats {
    width: 6rem;
    height: auto;
    position: fixed;
    top: 0;
}

.cat {
    width: 100%;
}

.nyanCat {
    width: 200%;
}