*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    position: relative;
    min-width: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

button {
    cursor: pointer;
}

.text {
    background: gold;
}

#div-monster {
    width: 500px;
    height: auto;
    position: fixed;
    display: none;
    z-index: -1;
}

img {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    padding: 5px;
    text-align: center;
    color: hsla(146, 50%, 36%);
    -webkit-text-stroke: 2px hsla(324, 66%, 20%, 0.6);
    background: hsla(146, 50%, 36%, 0.6);
    transition: all 2s;
}

.exorcista {
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}